<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img class="responsive-img" src="{{element.src}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="content-category">{{element.title}}</p>
                <p>{{element.category}}</p>
                <p>{{element.description}}</p>
            </div>
            <div class="card-action">
                <a href="{{element.url}}">{{element.link}}</a>
            </div>
        </div>
    </div>
</div>