<div class="card">
    <div class="card-image">
        <img class="materialboxed responsive-img" src="{{element.src}}">
        <span class="card-title">{{element.title}}</span>
        <ng-transclude>

        </ng-transclude>
    </div>
    <div class="card-content">
        <p class="content-category">{{element.category}}</p>
        <p>{{element.description}}</p>
    </div>
    <div class="card-action">
        <a href="{{element.url}}">{{element.link}}</a>
    </div>
</div>

