<div class="card">
    <div class="card-image">
        <img class="materialboxed responsive-img" src="{{element.src}}">
    </div>
    <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{element.title}}<i class="material-icons right activator">mode_edit</i></span>
        <p class="content-category">{{element.category}}</p>
        <p>{{element.description}}</p>
        <p><a href="{{element.url}}">{{element.link}}</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{element.title}}<i class="material-icons right">close</i></span>
        <span class="card-title">Edit current card</span>
        <ng-transclude></ng-transclude>
    </div>
</div>