<div class="row">
    <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">done</i>
        </button>
    </div>
</div>