<div class="row">
    <div class="input-field col s6">
        <label class="active">Title:</label>
        <input type="text" ng-model="element.title">
    </div>
    <div class="input-field col s6">
        <label class="active">Image url:</label>
        <input type="text" ng-model="element.src">
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <label class="active">Category:</label>
        <input type="text" ng-model="element.category">
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <label class="active">Description:</label>
        <input type="text" ng-model="element.description">
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <label class="active">Label:</label>
        <input type="text" ng-model="element.link">
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <label class="active">Link:</label>
        <input type="text" ng-model="element.url">
    </div>
</div>





