<div ng-if="!is_logged">
    <div class="row">
        <div class="col s12">
            <form action="#" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">

                <div class="form-group input-field">
                    <label for="username" class="col s6 control-label">username:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="login_info.username">
                    </div>
                </div>

                <div class="form-group input-field">
                    <label for="password" class="col s6 control-label">password:</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" ng-model="login_info.password">
                    </div>
                    <div class="col-sm-3">
                        <input type="button" value="Login" class="btn waves-effect waves-green btn-flat" ng-click="login(login_info)">
                    </div>
                </div>

            </form>
        </div>
    </div>
    <p class="alert alert-danger" ng-if="errMsg">{{errMsg}}</p>
</div>