<div ng-if="!is_logged">
    <div class="row">
        <div class="col s12">
            <form action="#" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">

                <div class="form-group input-field col-sm-6">
                    <label for="username" class="col s6 control-label">name:</label>
                    <div>
                        <input type="text" class="form-control" ng-model="register_info.name">
                    </div>
                </div>

                <div class="form-group input-field col-sm-6">
                    <label for="username" class="col s6 control-label">email:</label>
                    <div>
                        <input type="email" class="form-control" ng-model="register_info.email">
                    </div>
                </div>

                <div class="form-group input-field col-sm-6">
                    <label for="username" class="col s6 control-label">username:</label>
                    <div>
                        <input type="text" class="form-control" ng-model="register_info.username">
                    </div>
                </div>

                <div class="form-group input-field col-sm-6">
                    <label for="username" class="col s6 control-label">password:</label>
                    <div>
                        <input type="password" class="form-control" ng-model="register_info.password">
                    </div>
                </div>

                <div class="form-group input-field">
                    <div class="col-sm-12">
                        <input type="button" value="Register" class="btn waves-effect waves-light-blue btn-flat" ng-click="register(register_info)">
                    </div>
                </div>

            </form>
        </div>
    </div>

    <p class="alert alert-danger" ng-if="errMsg">{{errMsg}}</p>

</div>