<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
        <div class="background">
            <img class="responsive-img" src="https://i.imgur.com/inTnUzm.gif">
        </div>
        <a href="#!user"><img class="circle" src="https://i.imgur.com/YaVL0y8.png"></a>
            <div class="user-infos">
                <a href="#!name"><span class="name">Semy Mhedhbi</span></a>
                <a href="#!email"><span class="email">semymhedhbi@gmail.com</span></a>
            </div>
        </div>
    </li>
    <li class="sidenav-list"><a class="subheader">Navigation</a></li>
    <li class="sidenav-list"><a ui-sref-active="active" ui-sref="home" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
    <li class="sidenav-list"><a ui-sref-active="active" ui-sref="gallery" class="waves-effect"><i class="material-icons">apps</i>Gallery</a></li>
    <li><div class="divider"></div></li>
    <li class="sidenav-list"><a class="subheader">Links</a></li>
    <li class="sidenav-list"><a href="https://www.linkedin.com/in/semy-mhedhbi-a4353bb2/" class="waves-effect"><i class="material-icons">share</i>Linkedin</a></li>
    <li class="sidenav-list"><a href="https://gitlab.com/Maeztro" class="waves-effect"><i class="material-icons">laptop</i>Gitlab</a></li>
    <li class="sidenav-list"><div class="divider"></div></li>
    <!--<ul class="collapsible" data-collapsible="accordion">-->
        <!--<li>-->
            <!--<div class="collapsible-header"><i class="material-icons">filter_drama</i>Site management</div>-->
                <!--<div class="collapsible-body nav-collapsible">-->
                    <!--<div class="row">-->
                        <!--<div class="col s12">-->
                            <!--<ng-transclude>-->

                            <!--</ng-transclude>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
</ul>
<a href="#" data-activates="slide-out" class="mat-fab button-collapse btn-floating btn-large waves-effect waves-light right"><i class="material-icons">menu</i></a>