<div class="container">
    <h3 class="left-align">Gallery</h3>

    <div class="row" ng-show="is_logged">
        <div class="col s12 m12">
            <article ng-repeat="card in card_list">
                <mat-cardreveal element="card">

                    <mat-forminput element="card"></mat-forminput>
                    <mat-formsubmit ng-click="edit(card)"></mat-formsubmit>
                    <a class="btn-floating waves-effect  waves-light right red"><i class="material-icons" ng-click="delete(card)">delete</i></a>

                </mat-cardreveal>
            </article>
        </div>
    </div>

    <div class="row" ng-show="!is_logged">
        <div class="col s12 m12">
            <article ng-repeat="card in card_list">
                <mat-cardimage element="card">

                </mat-cardimage>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="card" ng-show="show_form">
            <div class="card-content">
                <span class="card-title">New entry</span>
                <p>Fill the informations below to submit a new portfolio entry</p>
            </div>
            <div class="card-action">
                <mat-forminput element="form_data"></mat-forminput>
                <mat-formsubmit ng-click="post(form_data)"></mat-formsubmit>
            </div>
        </div>
    </div>

    <div class="row" ng-show="is_logged">
        <div class="col s12 m12">
            <div class="card ">
                <div class="card-content">
                    <a class="btn-floating btn-large waves-effect waves-light right green" ng-click="show_form = !show_form"><i class="material-icons">add</i></a>
                </div>
                <div class="card-action">
                    <span class="card-title">Add a new entry:</span>
                </div>
            </div>
        </div>
    </div>

</div>
