<div class="container">
    <h3 class="left-align">Home</h3>

    <div class="row">
        <div class="card">
            <div class="card-content ">
                <h5>var carrer = require('learning_new_stuff');</h5>
            </div>
            <div class="card-action">
                <h6>(function (angular) {</h6>
                    <p>welcome to my portfolio, enjoy your visit.</p>
                    <p class="homepage-intro">
                        im currenently a freelance junior web developper in search of new challenges and eager to master
                        new technologies. this portfolio was part of a self-assigned project where I explore all the steps
                        that are part of a regular MEAN stack, the whole site was made from scratch using minimum middleware
                        and frameworks. For the back-end I used nodeJs and MongoDB ,
                        the front-end was done in angularJs and materialize-css for visual flair. just like my previous
                        <a class="home-text-link" href="http://tim.cstj.qc.ca/1141480/portfolio/wordpress/">portfolio project</a>,this site is
                        part of the showcase.
                    </p>
                    <p>
                        I will constantly update this site as new projects come to completition so stay tuned!
                    </p>
                <h6>})(angular)</h6>
            </div>
        </div>
    </div>
</div>