/*color palette*/
.primary-color{
    color:#292C3F;
}
.secondary-color{
    color:#292C3F;
}
.dark-text-color{
    color:#91939C;
}
.text-color{
    color:#DCDCDF;
}
.accent-color{
    color:#711F23;
}
.link-color{
    color:#16869D;
}
.warning-color{
    color:#986256;
}
.pass-color{
    color:#96A972;
}
/*Adjustments*/
.bottom-spacer{
    display: block;
    height:30vh;
}
.spacer{
    display: block;
    height:2.4vh;
}
/*fix for footers*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:#292C3F;
}
main {
    flex: 1 0 auto;
}
/*custom layout*/
.mat-fab{
    margin:2em;
}
/*custom colors*/
.home-background{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    color:#91939C;
}
p{
    color:#DCDCDF;
}
a{
    color:#16869D;
}
span{
    color: #e29b15;
}
.card{
    background-color:#383c54;
    color:#DCDCDF;
}
.card-content{
    background-color:#303347;
    color:#DCDCDF;
}
.card-reveal{
    background-color:#303347;
    color:#DCDCDF;
}
.card-action{
    background-color:#292C3F;
    color:#16869D;
}
.card-title{
    color:#96A972;
}
p.content-category{
    font-size: 1.4em;
    color:#16869D;
    margin-bottom:0.8em;
}
.side-nav{
    background-color:#383c54;
    color:#DCDCDF!important;

}
.user-view{

}
.sidenav-list{
    background-color:#383c54;
}
.side-nav a{
    color:#DCDCDF!important;
}
.side-nav i{
    color:#16869D!important;
}
.user-infos span{
    color:#292C3F!important;
}
.side-nav .divider{
    background-color: #91939C;
}
.nav-collapsible{
    background-color:#383c54!important;
}
.nav-collapsible input, .nav-collapsible input:focus, .nav-collapsible input:active{
    background-color:#383c54!important;
    color:#DCDCDF!important;
}
input:-webkit-autofill {
    background-color:#383c54!important;
    color:#DCDCDF!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color:#383c54!important;
    color:#DCDCDF!important;
}
::-webkit-scrollbar {
    display: none;
}
.home-text-link{
    display:inline;
    padding:0!important;
    margin:0!important;
    text-transform: none;
}

